@import "tailwindcss";

@theme {
  --color-brand-red: #ff0000;
  --color-brand-dark: #111111;
  --color-brand-gray: #222222;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-brand-dark);
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-sans);
  }
}

html {
  scroll-behavior: smooth;
}
